#inicio {
    color: #3E001F;
}
h1 {
    text-align: center;
    background-color: #FFE5AD;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
   
}
.principal {
    background-color: #F11A7B;
    padding: 40px 10px;
    text-align: center;
    border-radius: 15px;
}
h2 {
    margin: 100px 50px;
    background-color: rgb(69, 209, 186);
    display: inline-block;

}
a {
    background-color: #FFE5AD;
    display: block;
}
#encabezado {
    background-color: #E26EE5;
    color: #0f0e0f
    
}
h3{
    background-color:  #FFE5AD;
}
h4{
    background-color:  #FFE5AD;
}
h5{
    background-color:  #FFE5AD;
}
h6{
    background-color:  #FFE5AD;
}
#enlace {
    color: #0f0e0f;
}