html {
    scroll-behavior: smooth;
}
h1 {
    color:rgb(171, 82, 255)
}
h2{
    color:deeppink
}
img {
    max-width: 100%;
    height: auto;
    
}
figcaption {
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(0, 139, 252);
}
li {
    list-style-type: none;
}
